body
	{ font-size: 13px;
	padding-left: 30px;}
h1
	{ padding-top:  30px;}
h2
	{ padding-top: 25px;}
img
	{ padding-bottom: 30px;}
a 
	{ padding-right: 30px;padding-bottom: 30px;}
header 
    {font-size: 20px;}
img
	{ padding-top: 25px;
	padding-bottom: 30px;}
.fb
	{ border-right: 1px solid lightblue;}
